.bookin-container {
  display: flex;
  width: 100%;
}

.passanger-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.head-form-container {
  width: 50%;
  padding: 16px;
}
.passanger-form-inputs {
  width: 300px;
  height: 25px;
  outline: none;
  margin-bottom: 8px;
  border: 2px solid rgb(146, 153, 158);
  border-radius: 4px;
}
.label {
  margin: 5px;
  font-size: 20px;
  font-family: Georgia;
  font-weight: 550;
  display: flex;
  align-items: center;
}
.add-ticket-btn {
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: rgb(81, 85, 112);
  margin-top: 12px;
  cursor: pointer;
}
.bottom-container {
  width: 100%;
}

.ul-con {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.li-container {
  list-style: none;
  width: 30%;
  border: 2px solid;
  padding: 32px;
  margin: 6px;
}
.ticket-counter {
  display: flex;
  justify-content: space-between;
}
.div-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc {
  margin-top: 0px;
}
